.boton{
  background: rgb(44, 216, 28);
  border-color: rgb(59, 202, 59);
  border-width: 4px;
  border-style: solid;
  color: white;
}


.body{
  background-image: url(https://img.freepik.com/foto-gratis/sala-estar-vacia-sofa-azul-plantas-mesa-sobre-fondo-pared-blanca-vacia-representacion-3d_41470-1778.jpg?size=626&ext=jpg&ga=GA1.2.1175707702.1640476800);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
 }

 .navbarnuevo{
   height: 100px;
   background: rgb(31, 156, 41);;
 }


 .navbar-brand{
   color: white;
 }