.container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vh;
  height: 100vh;
 }
 
 .card-header{
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0f9b0f, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0f9b0f, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
   color: white;
 }
 
 .botoningresar{
   background: rgb(44, 216, 28);
   width: 94px;
   color: white;
   margin-top: 40px;
   margin-left: 96px;
   border-color: rgb(59, 202, 59);
   border-width: 4px;
   border-style: solid;
  
 }
 
 .linkcuenta{
   text-decoration:none;
   color: rgb(41, 180, 41);
   font-size: 12px;
   font-weight: bold;
 }
 
 .labels{
   color: rgb(41, 180, 41);
   margin-left: 20px;
 }
 .card-body{
   background: rgb(155, 229, 165);
 }
 
 .input{
   border: 0ch;
   background: rgb(155, 229, 165);
 }

 .volver{
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0f9b0f, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0f9b0f, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
   color: white;
 }
 
 ::placeholder { color:rgb(41, 180, 41); }